*{
    margin: 0;
    padding: 0;
}
.fonts{
    font-family: Lato;
}
#hero{
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.1);
    margin-bottom: 178px;
}
.banner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
}
.banner-title-container{
    width: 708px;
   height: 506px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner-btn{
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.banner-img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
/* banner responsive */
@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column;
        padding: 20px;
    }
    #hero, .banner-title-container, .banner-img{
        width: 100%;
        height: 100%;
    }
}
/* crad section */
.card-title-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.crad-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.crad-container{
    display: flex;
    gap: 24px;
    margin-bottom: 128px;
    justify-content: center;
    text-align: center;
}
.crad-1{
    text-align: center;
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0 0;
    margin-bottom: 32px;
}
.card-img1{
    margin-top: 110px;
}
.card-2{
    text-align: center;
    width: 464px;
    height: 538px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0 0;
    margin-bottom: 32px;
}
.card-img2{
    margin-top: 110px;
}
.card-3{
    text-align: center;
    width: 464px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0 0;
    margin-bottom: 32px;
}
.card-img3{
    margin-top: 67px;
}
.subtitle-card{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* card-section responsive */
@media screen and (max-width:576px) {
    .crad-container{
        flex-direction: column;
        padding: 10px;
    }
}
/* support-section */
#support-section{
    width: 1440px;
    height: 320px;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 128px auto;
}
.content-container{
    width: 1040px;
    height: 147px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content1, .content2, .content3{
    text-align: center;
}
.content-img1, .content-img2, .content-img3{
    margin-bottom: 26px;
}
.support-subtitle{
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-weight: 600;
}